<!-- サブタイトル -->
<div id="subtitle">
  <span class="subtitle">対応状況確認</span>
</div>

<!-- サブコンテンツ -->
<div id="subcontent">

  <div>
    <div>
      <span class="label">未対応・調整中一覧</span>
    </div>  
    <div class="supplement">処理区分が「未対応」、「調整中」の一覧を表示します。
    </div>
    
    <div style="height:3px;"></div>
    <div>
      <table class="gridtable">
        <tr>
          <th class="proctype">未対応</th>
          <th class="proctype">調整中（雇用形態変更）</th>
          <th class="proctype">調整中（その他）</th>
          <th class="proctype">有り</th>
          <th class="proctype">無し</th>
          <th class="proctype">対象外</th>
        </tr>
        <tr>
          <td id="td_status_0"><? output.append(statusCount.def) ?></td>
          <td id="td_status_4"><? output.append(statusCount.adjusting_changecontract) ?></td>
          <td id="td_status_5"><? output.append(statusCount.adjusting_other) ?></td>
          <td id="td_status_1"><? output.append(statusCount.exist) ?></td>
          <td id="td_status_2"><? output.append(statusCount.none) ?></td>
          <td id="td_status_3"><? output.append(statusCount.other) ?></td>                
        </tr>
      </table>
    </div>
    <div style="height:3px;"></div>
    <div>
      <a id="btn-view-detail" class="square_btn" href="#">明細を表示する</a>
    </div>
    <div style="height:3px;"></div>
    <div id="target_detail" style="display:none;">
      <div>
        <table class="gridtable">
          <tr>
            <th rowspan="2" class="empno">社員番号</th>
            <th rowspan="2" class="empname">氏名(職場氏名)</th>
            <th rowspan="2" class="">契約形態</th>
            <th rowspan="2" class="">所属部署</th>
            <th rowspan="2" class="">勤務地</th>
            <th colspan="2" class="manager">管理者1</th>
            <th colspan="2" class="manager">管理者2</th>
            <th rowspan="2" class="proctype">処理区分</th>         
          </tr>
          <tr>
            <th class="manager_belong">部署</th>
            <th class="manager_name">氏名</th>
            <th class="manager_belong">部署</th>
            <th class="manager_name">氏名</th>
          </tr>

          <?
            for(var i=0;i < values.length;i++){
              var p = values[i];
              if(p.proctype == "" || p.proctype == "対応してください"){
                p.proctype = "未対応";
              }
              var html = ""+
                         "<tr id=tr_detail_1_" + i + " rowid='" + p.rowid + "' targetid='" + i + "'>"+
                         "  <td class='empno'>" + p.base.empno + "</td>"+
                         "  <td>" + p.base.empname + "</td>"+
	                     "  <td>" + p.view_condition.contracttype + "</td>"+
       	                 "  <td>" + p.base.affiliation_name + "</td>"+
	                     "  <td>" + p.base.worklocation_name + "</td>"+
                         "  <td>" + p.manager.affiliation_name + "</td>"+
                         "  <td>" + p.manager.name + "</td>"+
                         "  <td>" + p.managersub.affiliation_name + "</td>"+
                         "  <td>" + p.managersub.name + "</td>"+
                         "  <td>"+p.proctype+"</td>"+
                         "</tr>";
               output.append(html);
            }
          ?>
        </table>
      </div>
    </div>

  </div>


<!-- ----------------------------------------------------------------------------------------- -->
  <div class="row_split"></div>
  <div>
    <div>
      <span class="label">送付メール雛形</span>
    </div>
    <div class="supplement">各種メールの送信文、追加送付先アドレスに変更がある場合は編集・保存してください。
    </div>
    <div style="height:3px;"></div>
    <div style="display:flex; position:relative; justify-content:flex-start; flex-direction:row;">
      <div style="padding:5px 5px 0px 0px;">
        <div>周知メール</div>
        <textarea style="height:300px;width:500px" id="sendmail_info" /><? output.append(settinginfo.mail2); ?></textarea>
      </div>
      <div style="padding:5px 5px 0px 0px;">
        <div>催促メール</div>
        <textarea style="height:300px;width:500px" id="remindmail_info" /><? output.append(settinginfo.mail1); ?></textarea>
      </div>
    </div>
    <div style="display:flex; position:relative; justify-content:flex-start; flex-direction:row;">
      <div style="padding:5px 5px 0px 0px;">
        <div>追加CC</div>
        <input type="text" style="height:20px;width:500px" id="mailaddress_cc_add" value="<? output.append(settinginfo.mail_cc); ?>"/></input>
      </div>
      <div style="padding:5px 5px 0px 0px;">
        <div>追加BCC</div>
        <input type="text" style="height:20px;width:500px" id="mailaddress_bcc_add" value="<? output.append(settinginfo.mail_bcc); ?>"/></input>
      </div>
    </div>
    <div style="height:3px;"></div>
    <div>
      <a id="sendmail1Update-button" class="square_btn" href="#">保存</a>
    </div>
  </div>

<!-- ----------------------------------------------------------------------------------------- -->
  <div class="row_split"></div>
  <div>
    <div>
      <span class="label">対応メール送付</span>
    </div>
    <div class="supplement">管理者に設定されているユーザに周知メールの送信<br>処理区分が未対応・調整中の契約情報の管理者に設定されているユーザに催促メールの送信を行います。
    </div>
    <div>
      <a id="sendmail2-button" class="square_btn" href="#">周知メール送信アドレス取得</a>
      <a id="sendmail1-button" class="square_btn" href="#">催促メール送信アドレス取得</a>
    </div>
    <div>
      <div class="supplement">送付メール対象者</div>
      <textarea style="height:300px;width:500px" id="to_mailaddress" /></textarea>
    </div>
  </div>
</div>
