<!-- サブタイトル -->
<div id="subtitle">
  <span class="subtitle">管理従業員一覧</span>
</div>

<!-- サブコンテンツ -->
<div id="subcontent">
  <div>
    <datalist id='hourminute' style='color:red;font-weigh:bold;'>
      <option value='08:00' style='font-size:5px;'>
      <option value='08:15'>
      <option value='08:30'>
      <option value='08:45'>
      <option value='09:00'>
      <option value='09:15'>
      <option value='09:30'>
      <option value='09:45'>
      <option value='10:00'>
      <option value='10:15'>
      <option value='10:30'>
      <option value='10:45'>
      <option value='11:00'>
      <option value='11:15'>
      <option value='11:30'>
      <option value='11:45'>
      <option value='12:00'>
      <option value='12:15'>
      <option value='12:30'>
      <option value='12:45'>
      <option value='13:00'>
      <option value='13:15'>
      <option value='13:30'>
      <option value='13:45'>
      <option value='14:00'>
      <option value='14:15'>
      <option value='14:30'>
      <option value='14:45'>
      <option value='15:00'>
      <option value='15:15'>
      <option value='15:30'>
      <option value='15:45'>
      <option value='16:00'>
      <option value='16:15'>
      <option value='16:30'>
      <option value='16:45'>
      <option value='17:00'>
      <option value='17:15'>
      <option value='17:30'>
      <option value='17:45'>
      <option value='18:00'>
      <option value='18:15'>
      <option value='18:30'>
      <option value='18:45'>
      <option value='19:00'>
    </datalist>
  </div>

  <div>
	<div id="overlay_ced" style="display:none;"></div>  
	<div id="modalWindow_ced" style="display:none;">  
	  <div style="display:flex;width:100%;padding:0px 0px 5px 0px;position: relative;justify-content: space-between;">
	    <div>
	      <div id="search_title">契約情報更新</div> 
	    </div>
	  
	    <div style="display: flex;justify-content: flex-start;flex-basis: 380px;">
	      <div style="left: 33px;position: relative;">
	        <div>
	          <span style="font-weight:bold;">更新の有無</span>
	          <select id="select_proctype" class="common" style="height: 22px;font-weight: bold;background-color: beige;color: blue;">
	            <option value="有り">有り</option>
	            <option value="無し">無し</option>
	            <option value="調整中（雇用形態変更）">調整中（雇用形態変更）</option>
	            <option value="調整中（その他）">調整中（その他）</option>
	            <option value="更新対象外">更新対象外</option>
	          </select>
	        </div>
	      </div>
	      <div style="right: 5px;position: absolute;">
	        <div>
	          <button id="detail_update" class='a_button'>更新</button>
	          <button id="detail_close" class='a_button'>閉じる</button>
	        </div>
	      </div>
	    </div>
	  </div>
	  
	  <div class='flexbox wrap-nowrap'>
	    <div style='justify-content: flex-start;'>
	      <table class='gridtable table_contract'>
	        <tr>
	          <th colspan="6">基本情報</th>
	        </tr>
	        <tr style="height:28px;">
	          <th style="width:60px;">社員番号</th>
	          <th style="width:100px;">氏名(職場氏名)</th>
	          <th style="width:80px;">入社日</th>
	          <th style="width:70px;">勤続年数</th>
	          <th style="width:175px;">所属部門</th>
	          <th style="width:100px;">勤務地</th>
	        </tr>
	        <tr style="height:28px;">
	          <td id='detail_empno'></td>
	          <td id='detail_empname'></td>
	          <td id='detail_hiredate'></td>
	          <td id='detail_workhist'></td>
	          <td id='detail_workaffiliation'></td>
	          <td id='detail_workplace'></td>
	        </tr>
	      </table>
	      
	      <div style='height:10px;'></div>
	      
	      <table class='gridtable table_contract'>
	        <tr>
	          <th colspan="4" style="width:585px;">雇用条件</th>
	        </tr>
	        <tr>
	          <th style="width: 70px;height:24px;">雇用形態</th>
	          <td colspan="3">
	            <select id="select_contracttype" style="width:150px;height:22px;">
	              <option value="パート">パート</option>
	              <option value="契約社員">契約社員</option>
	              <option value="正社員">正社員</option>
	            </select>
	          </td>
	        </tr>
	        <tr>
	          <th style="width: 70px;height:24px;">就業場所</th>
	          <td colspan="3">
	            <select id="text_workcompany" style="width:150px;height:22px;">
	              <? output.append(opt1); ?>
	            </select>                          
	          </td>
	        </tr>
	        <tr>
	          <th style="width: 70px;height:50px;">作業内容</th>
	          <td colspan="3">
	            <div>
	              <select id="text_jobdep" style="width:150px;height:22px;">
	                <? output.append(opt2); ?>
	              </select>                          
	              <div style='display:inline-block;'>における</div>
	              <select id="text_jobdetail" style="width:270px;height:22px;">
	                <? output.append(opt3); ?>
	              </select>                          
	              <div style='display:inline-block;position:absolute ;margin-left:5px;'><button id='btn_setjob' class='a_button' style="height:22px;">&nbsp;↓&nbsp;</button></div>
	            </div>
	            <div style="height:3px;"></div>
	            <div class='btn-group' style='display:inline-block;width:500px;height:22px;'>
	              <input id='text_jobvalue' readonly placeholder='仕事内容を入力してください' class='value' type='text' value=''/>
	              <span class='searchclear'>&times;</span>
	            </div>
	          </td>
	        </tr>
	        <tr>
	          <th style="width: 70px;height:20px;">契約満了日</th>
	          <!-- <td><input id='text_contractfixdate' class='value' type='text' value=''/></td> -->             
              <td>
	            <select id="text_contractfixdate" style="width:150px;height:22px;">
	              <? output.append(opt4); ?>
	            </select> 
              </td>
              
	          <th style="width: 70px;height:20px;">退職日</th>
	          <td><input id='text_retiredate' class='value' type='text' value=''/></td>
	        </tr>
	        <tr>
	          <th style="width: 70px;height:20px;">給与区分</th>
	          <td>
	            <select id="select_salarytype" style="width:150px;height:22px;">
	              <option value="時給">時給</option>
	              <option value="月給">月給</option>
	            </select>
	          </td>
	          <th style="width: 70px;">基本給</th>
	          <td><input id='text_salarybase'  class='value' type='text' value=''/></td>
	        </tr>
	        <tr>
	          <th style="width: 70px;">昇給推薦理由</th>
	          <td colspan="3"><textarea id="textarea_payrisememo" class="memo" value=""></textarea></td>
	        </tr>
	      </table>
	    
	    </div>
	    
	    <div style='justify-content: flex-start;'>

		  <table class='gridtable table_contract'>
		    <tr>
		      <th colspan="4" style="width:422px;">労働条件</th>
		    </tr>
		    <tr style="height:28px;">
		      <th style="width:70px;">所定労働日数</th>
		      <td style="width:130px;"><input id='text_workingdays' class='value' type='text' value=''/></td>
		      <th style="width:70px;">労働時間</th>
		      <td style="width:130px;"><span id="span_workingtimes"></span><!--<input id='text_workingtimes' class='value' type='text' value=''/>--></td>
		    </tr>
		    <tr style="height:28px;">
		      <th style="width:70px;">労働時間/週</th>
		      <td style="width:130px;"><span id="workingtimesweek"></span></td>
		      <th style="width:70px;">有休付与日</th>
		      <td style="width:130px;"><span id="paidholidays_cd">2:週4（30時間未満）</span></td>
		    </tr>
		  </table>
		      
		  <div style='height:10px;'></div>

		  <table class='gridtable' style='height:100px;'>
		    <tr>
		      <th colspan="4" style="width:422px;">作業時間</th>
		    </tr>
		    <tr>
		      <th style="width:30px;"></th>
		      <th style="width:90px;">就業時間</th>
		      <th style="width:121px;">出勤曜日</th>
		      <th style="width:140px;">備考・補足</th>
		    </tr>
		    <tr>
		      <th>条件1</th>
		      <td>
		        <div class="hour_group">
		          <div class="hour"><input id="hour_1f" list='hourminute' class='value' type='text' value=''/></div>
		          <div class="hour_connector">～</div>
		          <div class="hour"><input id="hour_1t" list='hourminute' class='value' type='text' value=''/></div>
		        </div>
		      </td>
		      <td><div id="weekdays_1" class='weekdays'><span class='weekdays_value'>日</span><span class='weekdays_value'>月</span><span class='weekdays_value'>火</span><span class='weekdays_value'>水</span><span class='weekdays_value'>木</span><span class='weekdays_value'>金</span><span class='weekdays_value'>土</span><span class='weekdays_clear'>消</span></div></td>
		      <td><div><input id="memo_1" class='worktime_memo' type='text' value=''/></div></td>
		    </tr>
		    <tr>
		      <th>条件2</th>
		      <td>
		        <div class="hour_group">
		          <div class="hour"><input id="hour_2f" list='hourminute' class='value' type='text' value=''/></div>
		          <span class="hour_connector">～</span>
		          <div class="hour"><input id="hour_2t" list='hourminute' class='value' type='text' value=''/></div>
		        </div>
		      </td>
		      <td><div id="weekdays_2" class='weekdays'><span class='weekdays_value'>日</span><span class='weekdays_value'>月</span><span class='weekdays_value'>火</span><span class='weekdays_value'>水</span><span class='weekdays_value'>木</span><span class='weekdays_value'>金</span><span class='weekdays_value'>土</span><span class='weekdays_clear'>消</span></div></td>
		      <td><div><input id="memo_2" class='worktime_memo' type='text' value=''/></div></td>
		    </tr>
		    <tr>
		      <th>条件3</th>
		      <td>
		        <div class="hour_group">
		          <div class="hour"><input id="hour_3f" list='hourminute' class='value' type='text' value=''/></div>
		          <span class="hour_connector">～</span>
		          <div class="hour"><input id="hour_3t" list='hourminute' class='value' type='text' value=''/></div>
		        </div>
		      </td>
		      <td><div id="weekdays_3" class='weekdays'><span class='weekdays_value'>日</span><span class='weekdays_value'>月</span><span class='weekdays_value'>火</span><span class='weekdays_value'>水</span><span class='weekdays_value'>木</span><span class='weekdays_value'>金</span><span class='weekdays_value'>土</span><span class='weekdays_clear'>消</span></div></td>
		      <td><div><input id="memo_3" class='worktime_memo' type='text' value=''/></div></td>
		    </tr>
		  </table>

		  <div style='height:10px;'></div>

		  <table class='gridtable' style='height:100px;'>
		    <tr>
		      <th style="width:422px;">備考・補足</th>
		    </tr>
		    <tr>
		      <td>
                <textarea id="textarea_memo" class="memo" value=""></textarea>
              </td>
		    </tr>
		  </table>

	    </div>
	  </div>
	</div>
  </div>

<!--
  <div id="sample" style="width:100px;height:100px;background-color:red;position: absolute;z-index:1;top:200px;left:100px;">aaa</div>
-->

  <table class="emplist gridtable">
    <thead>
      <tr>
        <th colspan="10">基本情報</th>
        <th colspan="6">雇用条件</th>
        <th colspan="3">労働条件</th>
      </tr>
      <tr>
        <th class="show_detail">編集</th>
        <th class="empno">在籍状態</th>
        <th class="empno">社員番号</th>
        <th class="empname">氏名(職場氏名)</th>
        <th class="workaffiliation">所属部署</th>
        <th class="workplace">勤務地</th>
        <th class="hiredate">入社日</th>
        <th class="workhist">勤続年数</th>
        <th class="manager">管理者1</th>
        <th class="manager">管理者2</th>
        <th class="proctype">処理区分</th>
        <th class="contracttype">雇用形態</th>
        <th class="contractfixdate">契約満了日</th>
        <th class="retiredate">退職日</th>
        <th class="salarytype">給与区分</th>
        <th class="salarybase">基本給</th>
        <th class="workingdays">所定労働日数</th>
        <th class="workingtimes">労働時間</th>
        <th class="workingtimesweek">労働時間/週</th>
      </tr>
    </thead>
    <tbody style='overflow: auto;height:500px;'>
    <?
      for(var i=0;i < values.length;i++){
        var p = values[i];
        
        if(p.proctype == ""){
          p.proctype = "調整中（その他）";
        }

        var html = "" + 
                   "<tr rowid='" + p.rowid + "' targetid='" + i + "' style='height:42px;'>"+
                   "<td  class='show_detail'><div><button class='updatebutton a_button show_detail_button' empno='" + p.base.empno + "' rowid='" + p.rowid + "'></button></div></td>"+
                   "<td  class='empno'>" + p.base.leavestate + "</td>"+
                   "<td  class='empno'>" + p.base.empno + "</td>"+
                   "<td  class='empname'>" + p.base.empname + "</td>"+
                   "<td  class='workaffiliation'>" + p.base.affiliation_name + "</td>"+
                   "<td  class='workplace'>" + p.base.worklocation_name + "</td>"+
                   "<td  class='hiredate'>" + p.base.hiredate + "</td>"+
                   "<td  class='workhist'>" + p.base.workhist + "</td>"+
                   "<td  class='manager'>" + p.manager.affiliation_name+"<br>"+p.manager.name+"</td>"+            
                   "<td  class='manager'>" + p.managersub.affiliation_name+"<br>"+p.managersub.name+ "</td>"+  
                   "<td  class='proctype'>"+p.proctype+"</td>"+
                   "<td  class='contracttype'>"+p.view_condition.contracttype+"</td>"+
                   "<td  class='contractfixdate'>"+p.view_condition.contractfixdate+"</td>"+
                   "<td  class='retiredate'>"+p.view_condition.retiredate+"</td>"+
                   "<td  class='salarytype'>"+p.view_condition.salarytype+"</td>"+
                   "<td  class='salarybase'>"+p.view_condition.salarybase+"</td>"+
                   "<td  class='workingdays'>"+p.view_condition.workingdays+"</td>"+
                   "<td  class='workingtimes'>"+p.view_condition.workingtimes+"</td>"+
                   "<td  class='workingtimesweek'>"+p.view_condition.workingtimesweek+"</td>"+
                   "</tr>";           
          output.append(html);

      }
    ?>
    </tbody>
  </table>
</div>
