<!-- サブタイトル -->
<div id="subtitle">
  <span class="subtitle">契約担当者変更</span>
  <span style="width:20px;"/>
  <a id="update-button" class='square_btn' href="#">更新</a>
</div>


<!-- サブコンテンツ -->
<div id="subcontent">

  <!-- 管理者不在情報 -->
  <div id="overlay_noneManager" style="<? output.append((noneManager.length > 0) ? "" : "display:none"); ?>"></div> 
  <div id="modalWindow_noneManager" style="width:500px;height:300px;<? output.append((noneManager.length > 0) ? "" : "display:none"); ?>">
    <div style="font-weight:bold;color:red;">管理者未設定者</div>
    <div>--</div>
    <div>以下の従業員は管理者が不在です。（未設定及び管理者退職など）</div>
    <div style="height:5px;"></div>
    <div><? output.append(noneManager.join("、")) ?></div>
  </div>


  <table class="gridtable manageuser" style='table-layout: fixed;width:100%;'>
    <thead>
    <tr>
      <th colspan="5">基本情報</th>
      <th rowspan="2" style='width:300px;'>管理者1</th>
      <th rowspan="2" style='width:300px;'>管理者2</th>
    </tr>
    <tr>
      <th style='width:80px;'>社員番号</th>
      <th style='width:150px;'>氏名</th>
      <th style='width:100px;'>雇用形態</th>
      <th style='width:200px;'>所属部署</th>
      <th style='width:150px;'>勤務地</th>
    </tr>
    <thead>
    <tbody id="changemanager_tbody">
<?
    for(var i=0;i < values.length;i++){
      var p = values[i];
      var html = "<tr class='tr_changemanager' rowid='" + p.rowid + "'>"+
	             "  <td style='width:80px;'>" + p.base.empno + "</td>"+
	             "  <td style='width:150px;'>" + p.base.empname + "</td>"+
	             "  <td style='width:100px;'>" + p.view_condition.contracttype + "</td>"+
	             "  <td style='width:200px;'>" + p.base.affiliation_name + "</td>"+
	             "  <td style='width:150px;'>" + p.base.worklocation_name + "</td>"+
                 "  <td style='width:300px;'>"+
                 "    <div class='manager_controler_group'>"+
                 "      <div class='managermain managerinfo' manager_id='"+p.manager.id+"'>"+
                 "        <div class='manager_affiliation'>"+p.manager.affiliation_name+"</div>"+
                 "        <div class='manager_name'>"+p.manager.name+"</div>"+
                 "      </div>"+
                 "      <div class='controler_group'>"+
                 "        <div style='right: 0;position: absolute;' class='setcontroler cursor_pointer set_manager'>"+
                 "          <div class='outer'><div class='iconGear'><div></div></div></div>"+
                 "        </div>"+
                 "      </div>"+
                 "    </div>"+
                 "  </td>"+
                 "  <td style='width:300px;'>"+
                 "    <div class='manager_controler_group'>"+
                 "      <div class='managersub managerinfo' manager_id='"+p.managersub.id+"'>"+
                 "        <div class='manager_affiliation'>"+p.managersub.affiliation_name+"</div>"+
                 "        <div class='manager_name'>"+p.managersub.name+"</div>"+
                 "      </div>"+
                 "      <div class='controler_group'>"+
                 "        <div class='setcontroler cursor_pointer set_manager'>"+
                 "          <div class='outer'><div class='iconGear'><div></div></div></div>"+
                 "        </div>"+
                 "        <div class='setcontroler cursor_pointer remove_manager'>"+
                 "          <div class='outer'><div class='iconRemove'><div></div>"+
                 "        </div>"+
                 "      </div>"+
                 "    </div>"+
                 "  </td>"+
                 "</tr>";
      output.append(html);
    }
?>
    </tbody>
  </table>
</div>
