<!-- サブタイトル -->
<div id="subtitle">
  <span class="subtitle">システム管理</span>
</div>

<!-- サブコンテンツ -->
<div id="subcontent">

<!-- ----------------------------------------------------------------------------------------- -->
  <div>
    <span class="label">システムメンテナンス</span>
    <div class="supplement">メンテナンス中は一般ユーザは契約者情報の参照・編集が出来ません。<br>システム権限を有したユーザは各種機能の利用が可能です。
    </div>
    <div>
    
<?
    var html = "";
    if(settinginfo.syslock != ""){
      html = "<a id='systemlock-button' class='square_btn bg_red' p='1'>システムメンテナンス中</a>";
    }
    else
    {
      html = "<a id='systemlock-button' class='square_btn' p=''>システム稼働中</a>";
    }
    output.append(html);
?>
    </div>
  </div>
<!-- ----------------------------------------------------------------------------------------- -->
  <div class="row_split"></div>
  <div>
    <div>
      <span class="label">選択リストマスタ</span>
    </div>
    <div class="supplement">契約情報画面で選択する項目のマスタ情報を設定します。
    </div>
    <div style="height:3px;"></div>
    <div style="display:flex; position:relative; justify-content:flex-start; flex-direction:row;">
      <div style="padding:5px 5px 0px 0px;">
        <div>勤務地</div>
        <textarea style="height:300px;width:300px" id="mst1" /><? output.append(settinginfo.mst1); ?></textarea>
      </div>
      <div style="padding:5px 5px 0px 0px;">
        <div>作業内容部門</div>
        <textarea style="height:300px;width:300px" id="mst2" /><? output.append(settinginfo.mst2); ?></textarea>
      </div>
      <div style="padding:5px 5px 0px 0px;">
        <div>作業内容業種</div>
        <textarea style="height:300px;width:300px" id="mst3" /><? output.append(settinginfo.mst3); ?></textarea>
      </div>
    </div>
    <div>
      <a id="button-save-master" class="square_btn" href="#">マスタ保存</a>
    </div>
  </div>
<!-- ----------------------------------------------------------------------------------------- -->
  <div class="row_split"></div>
  <div>
    <div>
      <span class="label">ＣＳＶ出力</span>
    </div>
    <div class="supplement">当システムの情報をＣＳＶ出力できます。
    </div>
    <div>
      <a id="button-outputcsv-changesalary" class="square_btn" href="#">昇給稟議用CSV</a>
      <a id="button-outputcsv-settinginterview" class="square_btn" href="#">面談設定用CSV</a>
      <a id="button-outputcsv-payrollaccounting" class="square_btn" href="#">給与計算用CSV</a>
      <a id="button-outputcsv-updatebugyo" class="square_btn" href="#">奉行反映用CSV</a>
      <a id="button-outputcsv-mailaddress" class="square_btn" href="#">社用アドレス一覧CSV</a>
      
      
    </div>
  </div>
<!-- ----------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------- -->
  <div class="row_split"></div>
  <div>
    <div>
      <span class="label">Ｑ更新処理</span>
    </div>
    <div class="supplement">最新の契約情報を元に次Ｑ用の契約情報を作成します。<br>新たに入社した従業員の情報は奉行データより取り込みます。
    </div>
    <div>
      <a id="quotaupdate-button" class="square_btn" href="#">Ｑ更新</a>
    </div>
  </div>

<!-- ----------------------------------------------------------------------------------------- -->
  <div class="row_split"></div>
  <div>
    <div>
      <span class="label">奉行データ取り込み</span>
    </div>
    <div class="supplement">人事奉行より汎用データを出力してください。<br>パターン名「【非正規従業員】契約更新システ取込CSV」、パターン番号「IMP0000001」
    </div>
    <div>
      <input id="myfile" name="myfile" type="file" />
      <a id="csvup-button" class="square_btn" href="#">取り込み</a>
    </div>
  </div>
</div>