<!-- サブタイトル -->
<div id="subtitle">
  <span class="subtitle">ユーザ権限管理</span>
  <span style="width:20px;"/>
  <a id="btn_adduserauth" class='square_btn' href="#">ユーザ追加</a>
  <a id="update-button" class='square_btn' href="#">更新</a>
</div>

<!-- サブコンテンツ -->
<div id="subcontent">
  <table class="gridtable manageuser" style="width:1200px;">
    <thead>
      <tr>
        <th rowspan="2" style='width:40px;'>No</th>
        <th rowspan="2" style='width:40px;'>削除</th>
        <th rowspan="2" style='width:250px;'>ログインID</th>
        <th rowspan="2" style='width:150px;'>氏名</th>
        <th rowspan="2" style='width:200px;'>部署</th>
        <th colspan="5">権限</th>
      </tr>
      <tr>
        <th class="userAuth">契約書一覧表示</th>
        <th class="userAuth">ユーザ権限管理</th>
        <th class="userAuth">契約書担当者変更</th>
        <th class="userAuth">対応状況確認</th>
        <th class="userAuth">システム管理</th>
      </tr>
    </thead>
    <tbody id="manageuser_tbody">
    <?
      for(var i=0;i < values.length;i++){
        var p = values[i];
        var html = 
					"<tr class='tr_user_auth' uid='"+p.mail+"' uname='"+p.name+"' ubelong='"+p.belonging+"'  id=tr_detail_1_" + i + " rowid='" + p.rowid + "' targetid='" + i + "'>"+
					"  <td style='width:40px;' class='no'>"+(i+1)+"</td>"+
					"  <td style='width:40px;' class='checkbox'><input class='deletecheckbox' type='checkbox' value='1'/></td>"+
					"  <td style='width:250px;'>"+p.mail+"</td>"+
					"  <td style='width:150px;'>"+p.name+"</td>"+
					"  <td style='width:200px;'>"+p.belonging+"</td>"+
					"  <td class='userAuth view_contract_list'>"+p.view_contract_list+"</td>"+
					"  <td class='userAuth control_usermenu'>"+p.control_usermenu+"</td>"+
					"  <td class='userAuth change_manager'>"+p.change_manager+"</td>"+
					"  <td class='userAuth remind_mail'>"+p.remind_mail+"</td>"+
					"  <td class='userAuth manage_system'>"+p.manage_system+"</td>"+
					"</tr>";
        output.append(html);
      }
    ?>
    </tbody>
  </table>
</div>
