<style>
/* ポップアップ用 */
#overlay {
  /* viewpointを相対位置にし、全画面表示にする */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);  /* 背景を半透明にする */
  display: none;  /* HTML要素を非表示にする */
  z-index: 1  /* 「メインのHTML要素」よりもスタックレベルを高くする */
 }

#modalWindow {
  width: 400px;
  height: 350px;
  position: fixed; /* viewpointを相対位置にする */
  border: 2px solid #D04255;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  background-color: #FFF;
  display: none; 
  z-index: 2  /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
}

#search_result {
  overflow-y:auto;
  height: 160px;
}

#close {
  color: #D04255;
  background-color: #FFF;
  border: solid 2px #D04255;
  border-radius: 3px;
  transition: .4s;
  position:absolute;
  right:10px;
  bottom:10px;
}

#close:hover {
  background: #D04255;
  color: #FFF;
}

#search_title {
  font-size: 16px;
  font-family: "serif";
  font-weight: bold;
}

#search_name{
 margin-top: 5px;
 margin-bottom: 5px;
}


/* 一覧 */
#emplist_thead th {
  font-size:12px;
  font-weight: bold;
}

.tr_employee td {
  font-size:12px;
}

.tr_employee:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
  cursor: pointer;
}


/* Radio2択 */
.radio_com {
  position:absolute;
  right:10px;
}
.radio_com input {
	display: none;
}
.radio_com label{
	display: block;
	float: left;
	cursor: pointer;
	/*width: 40px;*/
	margin: 0;
	padding: 5px;
	background: #bdc3c7;
	color: #869198;
	font-size: 12px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.radio_com label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.radio_com label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.radio_com input[type="radio"]:checked + .switch {
	background-color: #e67168;
	color: #fff;
}
</style>


<script>

function initialSearchEmployee(baseId){
  var base = $("#"+baseId);
  if(base){
  
    // overlay、modalWindow作成
    var html = 
              '<div id="overlay"></div>  ' + 
              '<div id="modalWindow">  ' + 
              '  <div style="display:flex;width:100%;">' + 
              '    <div id="search_title"></div> ' + 
              '    <div class="radio_com">' + 
              '      <input id="radio_org_select" type="radio" name="serchtype" value="1">' + 
              '      <label for="radio_org_select" class="switch">事業部</label>' + 
              '      <input id="radio_com_all"    type="radio" name="serchtype" value="2">' + 
              '      <label for="radio_com_all" class="switch">全社</label>' + 
              '    </div>' + 
              '  </div>' + 
              '  <input id="search_name" type="text" name="name" size="30" style="width:100%;" autocomplete="off"/>' + 
              '  <div id="search_result">' + 
              '    <table>' + 
              '      <thead id="emplist_thead">' + 
              '        <th>社員番号</th>' + 
              '        <th>氏名</th>' + 
              '        <th>主所属</th>' + 
              '      </thead>' + 
              '      <tbody id="emplist_tbody">' + 
              '      </tbody>' + 
              '    </table>' + 
              '  </div>' + 
              '  <input id="event_trigger_text" type="hidden"/>' + 
              '  <button id="close">Close</button>' + 
              '</div>';

    base.after(html);

    // --------------------■　各種イベント追加　■--------------------
    // ------------------------------------------------------------
    // 「Close」ボタンを選択、欄外選択時に、fadeOutメソッドでHTML要素を非表示にする
    $('#close, #overlay').on('click', function() {  
//      $('#overlay, #modalWindow').fadeOut();
      $('#overlay, #modalWindow').hide();
    });
  
    // ------------------------------------------------------------
    // 検索タイプラジオボタン選択時に名称検索時イベントを発生させる
    $('input:radio[name="serchtype"]').on('click',function(){
        $('#search_name').trigger("input");
    });

    // ------------------------------------------------------------
    // 名称検索時に該当する従業員情報を一覧表示する
    $('#search_name').on("input", function(e){
      // 未入力時はデータ行非表示
      var text = $("#"+e.target.id).val();
      if(text.trim() === ""){
        $("#emplist_tbody").html("");
        return;
      }

      // 対象事業部Prefix
      var prefix = sessionStorage.getItem('serach_employee_prefix');

      // 対象情報を取得
      var targetJson = sessionStorage.getItem('serach_employee_target');
      targetJson = JSON.parse(targetJson);
  
      var radioValue = $('input:radio[name="serchtype"]:checked').val();
      var x = targetJson.filter(function(d){
        if(radioValue == 1){
            // 事業部指定
            return d.name.indexOf(text) !== -1 && d.affiliation.indexOf(prefix) !== -1;
        }
        else
        {
            // 全社指定
            return d.name.indexOf(text) !== -1;
         }
      })
  
      // HTML設定
      var html = "";
      for(var tmp of x){
        html +="<tr class='tr_employee' empid='"+tmp.id+"' empname='"+tmp.name+"' empmail='"+tmp.mail+"' empaffiliationname='"+tmp.affiliation_name+"'><td>"+tmp.id+"</td><td>"+tmp.name+"</td><td>"+tmp.affiliation_name+"</td>";
      }
      $("#emplist_tbody").html(html);
//      console.log(html);
  
      // 対象データ選択時処理
      $('.tr_employee').on("click", function(e){
          var tr = $(e.target.parentElement);
          var targetid = sessionStorage.getItem('employee_target_object_id');
                    
          // イベントトリガ用オブジェクト設定
          // セッションにパラメータJSON設定
          var parameter = {   "targetObjectId":targetid
                            , "dataId": tr.attr("empid")
                            , "dataName":tr.attr("empname")
                            , "dataMail":tr.attr("empmail")
                            , "dataAffiliation":tr.attr("empaffiliationname")
                           }
          sessionStorage.setItem('event_parameter', JSON.stringify(parameter));
                  
          $('#event_trigger_text').trigger("input");
          
          // 閉じる
//          $('#overlay, #modalWindow').fadeOut();
          $('#overlay, #modalWindow').hide();
      });
      
    });


  }

}


function openSearchEmployee(p){

//console.log("openSearchEmployee-01");
  // 1.セッション保存
  // 検索情報設定(json)
  sessionStorage.setItem('serach_employee_target', JSON.stringify(p.json));
//console.log("openSearchEmployee-02");
  // ターゲットオブジェクトのIDを保持
//  console.log("p.obj.attr('id')="+p.obj.attr('id'));
  sessionStorage.setItem('employee_target_object_id', (p.obj == null || p.obj == undefined) ? null : p.obj.attr('id'));
//console.log("openSearchEmployee-03");
  // 対象事業部Prefix
  sessionStorage.setItem('serach_employee_prefix', p.prefix);
//console.log("openSearchEmployee-04");
  
  // 2.タイトル設定
  $('#search_title').text(p.title);         
  
  // 3.表示オブジェクトの位置を設定
  let w = $(window).width();
  let h = $(window).height();
  let cw = $('#modalWindow').outerWidth();
  let ch = $('#modalWindow').outerHeight(); 

  let top  = $(window).scrollTop();
  let left = $(window).scrollLeft();
  let outerHight  = 0;
  if(p.obj != null && p.obj != undefined){
    top  = p.obj.offset().top - $(window).scrollTop();
    left = p.obj.offset().left - $(window).scrollLeft();
    outerHight  = p.obj.outerHeight();
    if(left + cw > w){
      left -= ((left + cw) - w);
    }
    if((top + ch) > h){
      top -= ((top + ch) - h);
    }
  }
  else
  {
    top  = (h - ch) / 2;
    left = (w - cw) / 2;
  }

//  console.log("w="+w);
//  console.log("h="+h);
//  console.log("cw="+cw);
//  console.log("ch="+ch);
//  console.log("w="+top);
//  console.log("w="+left);
  

  $('#modalWindow').css({
    'left': left + 'px',
    'top': (top + outerHight) + 'px'
  });
    
  // 4.連動用イベント設定
  $("#event_trigger_text").unbind('input');
  $('#event_trigger_text').on('input', function() {  
    // 行選択時にセッション上に設定されるパラメータ情報を取得
    let event_parameter = sessionStorage.getItem('event_parameter');
    event_parameter = JSON.parse(event_parameter);
    
    // 設定関数実施
    p.fnc(event_parameter);
  
  });  
    
  // 5.初期設定
  $('#search_name').val("");
  $("#emplist_tbody").html("");
  var defaultValue = p.defaultvalue == undefined ? "1" : p.defaultvalue;
  $('input:radio[name="serchtype"]').val([defaultValue]);
  
  // 6.表示
//  $('#overlay, #modalWindow').fadeIn();
  $('#overlay, #modalWindow').show();
  $('#search_name').focus();

}



</script>